<div>
    <h2>Todos nuestros productos</h2>
   {{#each products}}
    <div>
    <h3>Producto {{id}}</h3>
    <p>Título: {{title}}</p>
    <p>Categoría: {{category}}</p>
    <p>Código: {{code}}</p>
    <p>Precio: {{price}}</p>
    <img src={{thumbnail}} width="150">
    <p>Stock: {{stock}}</p>
    <p>Estado: {{status}}</p>
    <p>Descripción: {{description}}</p>
    </div>
   {{/each}}
</div>
